.header{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  background-color: grey;
  color: white;
  margin-bottom: 20px;
}

.container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 90vh;
}
.footer{
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: gray;

}